<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Choix de livraison</title>

    {% stylesheets '@BurgerBundle/Resources/public/css/bootstrap-theme.min.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% stylesheets '@BurgerBundle/Resources/public/css/bootstrap.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% stylesheets '../vendor/fortawesome/font-awesome/css/font-awesome.min.css'  filter='cssrewrite' output='css/fontawesome.css' %}
    <link rel='stylesheet' href='{{ asset_url }}'/>
    {% endstylesheets %}

    {% stylesheets '@BurgerBundle/Resources/public/css/carte.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}




    {% javascripts
    '@BurgerBundle/Resources/public/js/jquery.js'
    '@BurgerBundle/Resources/public/js/bootstrap.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


</head>
<body>
<div id="menu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><h2>Bibi Burger</h2></a>
        </div><!-- navbar-header -->
        <div id="navbar" class="navbar-collapse collapse">
            <div class="hidden-xs" id="logo"><a href="main.html.twig">

                </a></div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path("burger_homepage") }}" class="menuscroll">Accueil</a></li>

                <li><a href="{{ path("burger_carte") }}">Commander</a></li>
                <li><a href="#"></a></li>
                <li><a href="{{ path("burger_panier") }}">Panier</a></li>
                {% if is_granted("ROLE_USER") %}
                    <li><a href="{{ path("burger_moncompte") }}">Mon compte</a></li>
                {% else %}
                    <li><a href="{{ path("burger_moncompte") }}">Inscription / Connexion</a></li>
                {% endif %}

                <!--fix for scroll spy active menu element-->
                <li style="display:none;"><a href="#header"></a></li>

            </ul>
        </div><!--/.navbar-collapse -->
    </div><!-- container -->
</div><!-- menu -->
<div class="container inner">
    <div id="livraison_Content">
        {% if nbArticlePanier == 0 %}
            <div class="alert alert-danger" role="alert">

                <span class="sr-only">Error:</span>
                Erreur, le panier est vide
            </div>
        {% else %}
            <div id="livraison_Content_etape">
                <div class="btn-group btn-group-justified" role="group" width="300" aria-label="...">
                    <button type="button" id="panier_Content_etape" class="btn btn-default" style="cursor: default;">
                        <span class="badge">1</span> Panier
                    </button>
                    <button type="button" id="panier_Content_etape" class="btn btn-primary" style="cursor: default;">
                        <span class="badge">2</span> Livraison
                    </button>
                    <button type="button" id="panier_Content_etape" class="btn btn-default" style="cursor: default;">
                        <span class="badge">3</span> Récapitulatif
                    </button>
                    <button type="button" id="panier_Content_etape" class="btn btn-default" style="cursor: default;">
                        <span class="badge">4</span> Paiement
                    </button>
                    <button type="button" id="panier_Content_etape" class="btn btn-default" style="cursor: default;">
                        <span class="badge">5</span> Confirmation
                    </button>
                </div>
            </div>
            <div id="livraison_domicile" class="panel panel-default">
                <div class="panel-heading">Adresse de livraison</div>
                <div class="panel-body">
                    <div>{{ app.user.firstName }} {{ app.user.lastName }}<br>{{ app.user.adresse }}
                        <br>{{ app.user.ville }} {{ app.user.codepostale }}</div>
                    <button onClick="location.href = '{{ path('burger_moncompte') }}'" type="button"
                            class="btn btn-default btn-xs">Modifier mon adresse
                    </button>
                </div>
            </div>
            <div id="livraison_choix" class="panel panel-default">
                <div class="panel-heading">Choix de livraison</div>
                <div class="panel-body">
                    <div class="list-group">
                        {% if type == "magasin" %}
                        <a href="#" class="list-group-item active"
                           onClick="location.href = '{{ path('burger_livraison', { "type": "magasin" }) }}'">
                            {% else %}
                            <a href="#" class="list-group-item"
                               onClick="location.href = '{{ path('burger_livraison', { "type": "magasin" }) }}'">
                                {% endif %}
                                <h4 class="list-group-item-heading">En magasin-Gratuit</h4>
                                <p class="list-group-item-text">Sur place ou à emporter</p>
                            </a>
                            {% if type == "domicile" %}
                            <a href="#" class="list-group-item active"
                               onClick="location.href = '{{ path('burger_livraison', { "type": "domicile" }) }}'">
                                <h4 class="list-group-item-heading">Livraison à domicile-Gratuit
                                    à partir de 15 euros</h4>
                                <p class="list-group-item-text">
                                    Adresse: {{ app.user.adresse }} {{ app.user.ville }} {{ app.user.codepostale }}</p>
                            </a>
                            {% else %}
                            {% if montantTotal >= livraisonMin %}
                            <a href="#" class="list-group-item"
                               onClick="location.href = '{{ path('burger_livraison', { "type": "domicile" }) }}'">
                                {% else %}
                                <a class="list-group-item">
                                    {% endif %}
                                    <h4 class="list-group-item-heading">Livraison  à
                                        domicile-Gratuit à partir de 15 euros</h4>
                                    <p class="list-group-item-text">
                                        Adresse: {{ app.user.adresse }} {{ app.user.ville }} {{ app.user.codepostale }}</p>
                                </a>
                                {% endif %}
                    </div>
                </div>
            </div>
            <div id="livraison_button_to_continue">
                <button onClick="location.href = '{{ path('burger_carte', { "type": "burger" }) }}'" type="button"
                        class="btn btn-warning">Continuer mes achats
                </button>
                <button onClick="location.href = '{{ path('burger_commander', {"livraison" : type }) }}'" type="button"
                        class="btn btn-primary">Valider
                </button>
            </div>
        {% endif %}
    </div>
</div>
</body>
</html>