<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Mon compte</title>

        {% stylesheets '@BurgerBundle/Resources/public/css/bootstrap-theme.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets '@BurgerBundle/Resources/public/css/bootstrap.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets '../vendor/fortawesome/font-awesome/css/font-awesome.min.css'  filter='cssrewrite' output='css/fontawesome.css' %}
        <link rel='stylesheet' href='{{ asset_url }}' /> 
        {% endstylesheets %}

        {% stylesheets '@BurgerBundle/Resources/public/css/carte.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}



        {% javascripts 
        '@BurgerBundle/Resources/public/js/jquery.js'
        '@BurgerBundle/Resources/public/js/bootstrap.js'

        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    </head>
    <body>
        <div id="menu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header visible-xs">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><h2>Bibi Burger</h2></a>
                </div><!-- navbar-header -->
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="hidden-xs" id="logo"><a href="main.html.twig">
                          
                        </a></div>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{path("burger_homepage")}}" class="menuscroll">Accueil</a></li>

                        <li><a href="{{path("burger_carte")}}">Commander</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="{{path("burger_panier")}}">Panier</a></li>
                            {% if is_granted("ROLE_USER") %}
                            <li><a href="{{path("burger_moncompte")}}">Mon compte</a></li>
                            {% else %}
                            <li><a href="{{path("burger_moncompte")}}">Inscription / Connexion</a></li>
                            {% endif %}

                        <!--fix for scroll spy active menu element-->
                        <li style="display:none;"><a href="#header"></a></li>

                    </ul>
                </div><!--/.navbar-collapse -->
            </div><!-- container -->
        </div><!-- menu -->
        <div class="container inner">
            <div id="moncompte_content">
                <div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <button class="btn btn-danger btn-xs" onClick="location.href = '{{ path('fos_user_security_logout') }}'"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</button>
                        <div class="alert alert-default" role="alert">
                            {% if errorP is defined %}
                                <div class="alert alert-danger" role="alert">{{ errorP }}</div>
                            {% endif %}
                            {{ render(controller("UserCustomBundle:Profile:edit", { 'call' : 'action' })) }}
                        </div>
                    {% else %}
                        <div>
                            {% block fos_user_content %}
                                <div class="page-header">
                                    <h1>Se connecter</h1>
                                </div>
                                {% if errorL is defined %}
                                    <div class="alert alert-danger" role="alert">{{ errorL }}</div>
                                {% endif %}
                                <div class="alert alert-default" role="alert">
                                    {{ render(controller("UserCustomBundle:Security:Login", { 'call' : 'action' })) }}
                                </div>
                                <div class="page-header">
                                    <h1>S'enregistrer</h1>
                                    {% if formR is defined %}
                                        {% if formR.vars.submitted == true %}
                                            <div class="alert alert-danger" role="alert">Le formulaire comporte des erreurs</div>
                                            <ul>
                                                {{ form_errors(formR.email) }}
                                                {{ form_errors(formR.username) }}
                                                {{ form_errors(formR.plainPassword.first) }}
                                                {{ form_errors(formR.plainPassword.second) }}
                                                {{ form_errors(formR.lastName) }}
                                                {{ form_errors(formR.firstName) }}
                                                {{ form_errors(formR.adresse) }}
                                                {{ form_errors(formR.ville) }}
                                                {{ form_errors(formR.codepostale) }}
                                                {{ form_errors(formR.informationComplementairesAdresse) }}
                                            </ul>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="alert alert-default" role="alert">
                                    {{ render(controller("UserCustomBundle:Registration:register", { 'call' : 'action' })) }}
                                </div>
                            {% endblock fos_user_content %}
                        </div>
                    {% endif %}
                </div>

                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="flash-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                
                {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <button onClick="location.href = '{{ path('usercustom_reset_password') }}'" type="button" class="btn btn-warning">Mot de passe oublié</button>
                {% endif %}
                
            </div>
        </div>

    </body>
</html>
