<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Réinitialiser le mot de passe</title>

        {% stylesheets '@BurgerBundle/Resources/public/css/bootstrap-theme.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets '@BurgerBundle/Resources/public/css/bootstrap.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets '../vendor/fortawesome/font-awesome/css/font-awesome.min.css'  filter='cssrewrite' output='css/fontawesome.css' %}
        <link rel='stylesheet' href='{{ asset_url }}' /> 
        {% endstylesheets %}

        {% stylesheets '@BurgerBundle/Resources/public/css/carte.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets '@BurgerBundle/Resources/public/css/jquery.dataTables.css'  filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}



        {% javascripts 
        '@BurgerBundle/Resources/public/js/jquery.js'
        '@BurgerBundle/Resources/public/js/bootstrap.js'
        '../vendor/datatables/datatables/media/js/jquery.dataTables.js' 

        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


    </head>
    <body>
        <div id="menu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header visible-xs">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><h2>Meat King</h2></a>
                </div><!-- navbar-header -->
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="hidden-xs" id="logo"><a href="#header">
                            <img src="{{ asset("bundles/burger/images/default/logo.png")}}" alt="">
                        </a></div>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{path("burger_homepage")}}" class="menuscroll">Accueil</a></li>

                        <li><a href="{{path("burger_carte")}}">Commander</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="{{path("burger_panier")}}">Panier</a></li>
                            {% if is_granted("ROLE_USER") %}
                            <li><a href="{{path("burger_moncompte")}}">Mon compte</a></li>
                            {% else %}
                            <li><a href="{{path("burger_moncompte")}}">Se connecter</a></li>
                            {% endif %}

                        <!--fix for scroll spy active menu element-->
                        <li style="display:none;"><a href="#header"></a></li>


                    </ul>
                </div><!--/.navbar-collapse -->
            </div><!-- container -->
        </div><!-- menu -->
        <div class="container inner">
            <div id="moncompte_content">
                <div>
                    <div class="page-header">
                        <h1>Réinitialisation du mot de passe</h1>
                    </div>
                    {% include "UserCustomBundle:Default:Resetting/request_content.html.twig" %}
                </div>
            </div>
        </div>
    </body>
</html>